/* HEADER */
.header {
    display: flex;
    align-items: center;
  }

.clickable-text {
  cursor: pointer;
}

#about-card {
  display: none;
}

/* BODY */
  .container {
    overflow: hidden;
  }

  .content {
    display: flex;
  }

/* IMAGES */
  .portfolio-img {
      max-width: 100%;
  }
  
/* BUTTONS */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

/* FILTER */
  .filterDiv {
    display: none;
  }

  .filterDiv.show,
  #about-card.show {
    display: block;
  }